
body {
  font-family: Calibri, sans-serif;
  color: black;
  margin: auto;
  text-align: center;
}

h1{
  align-content: center;
  color: black;
}

button {
  background-color: snow;
  font-family: Calibri, sans-serif;
  color: black;
}

input {
  background-color: ivory;
  font-family: Calibri, sans-serif;
  color: black;
}
